.content {
    width: 100%;
    background-color: #79bdf4;
    border-radius: 10px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    padding: 20px;
    margin-top: 30px;
}

h1 {
    color: #405d90;
    font-weight: bold;
}

.addPost_block {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.addPost_block textarea {
    width: 70%;
    height: 300px;
    border: 1px solid #c2cec2;
    border-radius: 15px;
    background: #f6f8f8;
    padding: 10px 15px;
    font-size: 18px;
    color: #625c5c;
}

.addPost_block button {
    width: 100px;
    border-radius: 5px;
    border: 1px solid #c2cec2;
    background-color: #79bdf4;
    color: #ffffff;
    font-size: 17px;
    padding: 5px;
    cursor: pointer;
}

.addPost_block button:hover {
    background-color: #45a2f3;
}

